<% include ../includes/header %>
<link rel="stylesheet" type="text/css" href="/css/setinfo.css">
</head>
<body>
	<div class="fix-head">
	<div class="head-content">
		<div class="left-logo">
			<a href="/"><span><!--logo--></span></a>
		</div>
		<div class="search-box">
			<input type="text" placeholder="搜点什么？"><span class="glyphicon glyphicon-search"></span>
		</div>
		<div class="head-nav logo-btn">
			<ul>
				<li><a href="/"><span class="glyphicon glyphicon-home"></span>首页</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-facetime-video"></span>视频</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-eye-open"></span>发现</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-headphones"></span>游戏</a></li>
			</ul>
		</div>
		<div class="log logo-btn">
			<% if(!user){ %>
				<ul>
					<li><a href="/showsignin">注册</a></li>
					<li><a href="/showsignup">登录</a></li>
				</ul>
			<% }else{ %>
				<ul>
					<li><a><span class="glyphicon glyphicon-user"></a></span><a><%= user.name %></a></li>
					<div class="edit-hover">
						<span class="glyphicon glyphicon-cog edit-btn">
						<div class="edit">
							<ul>
								<li><a href="/set/info">账号设置</a></li>
								<li><a href="/set/info">账号设置</a></li>
								<li><a href="/set/info">账号设置</a></li>
								<li><a href="/set/info">账号设置</a></li>
								<li><a href="/set/info">账号设置</a></li>
								<li><a href="/set/info">账号设置</a></li>
								<li><a href="/set/info">账号设置</a></li>
								<li><a href="/set/info">账号设置</a></li>
								<li><a href="/set/info">账号设置</a></li>
								<li><a href="/logout">退出登录</a></li>
								<div class="clear"></div>
							</ul>
						</div>
						<div class="triangle"></div>
					</div>
				</ul>
			<% } %>
		</div>
	</div>
</div>
<div class="userdetail">
	<div class="left-nav">
		<form>
			<fieldset><legend>账号设置</legend></fieldset>
		</form>
		<a href="#" class="avtive"><span class="glyphicon glyphicon-fire"><h2>我的信息</h2></a>
		<a href="/set/photo"><span class="glyphicon glyphicon-fire"><h2>头像</h2></a>
		<div class="line"></div>
		<a href="#"><span class="glyphicon glyphicon-fire"><h2>隐私设置</h2></a>
		<a href="#"><span class="glyphicon glyphicon-fire"></span><h2>消息设置</h2></a>
		<a href="#"><span class="glyphicon glyphicon-facetime-video"></span><h2>屏蔽设置</h2></a>
		<a href="#"><span class="glyphicon glyphicon-heart"></span><h2>偏好设置</h2></a>
		<div class="line"></div>
		<a href="#"><span class="glyphicon glyphicon-zoom-in"></span><h2>账号绑定</h2></a>
		<div class="line"></div>
		<a href="#"><span class="glyphicon glyphicon-zoom-in"></span><h2>我的勋章</h2></a>	
	</div>
	<div class="right-info">
		<div class="head">
			<h1>我的信息</h1>
			<div class="pr-bar">
				<span>资料完善度</span>
				<div class="pr">
					<div class="inner">
						<span>80%</span>
					</div>
				</div>
			</div>
			<a href="">预览我的主页</a>
		</div>
		<div class="account-info">
			<div class="item-list">
				<ul>
					<li class="list-1">登录名</li>
					<li class="list-2"><%= user.passname %></li>
					<li class="list-3"><a class="show1">修改密码</a></li>
				</ul>
			</div>
			<div class="item-list unshow">
				<ul>
					<li class="list-1">登录名</li>
					<li class="list-2"></li>
					<li class="list-3"><a class="close1">收起</a></li>
				</ul>
				<ul>
					<li class="list-4">现登录名</li>
					<li class="list-5"><%= user.passname %></li>
				</ul>
				<ul>
					<li class="list-4">新密码</li>
					<li class="list-5"><input id="newName" type="text" name="newName" placeholder="暂不支持修改"></li>
				</ul>
				<ul>
					<li class="list-4"></li>
					<li class="list-5"><span class="submit1">确认</span><span class="close1">关闭</span></li>
				</ul>
			</div>
			<div class="item-list">
				<ul>
					<li class="list-1">手机号</li>
					<li class="list-2">123****8910</li>
					<li class="list-3"><a class="show1">查看</a></li>
				</ul>
			</div>
			<div class="item-list unshow">
				<ul>
					<li class="list-1">手机号</li>
					<li class="list-2"></li>
					<li class="list-3"><a class="close1">收起</a></li>
				</ul>
				<ul>
					<li class="list-4">现手机号</li>
					<li class="list-5">123****8910</li>
				</ul>
				<ul>
					<li class="list-4">新手机号</li>
					<li class="list-5"><input id="newName" type="text" name="newName" placeholder="暂不支持修改"></li>
				</ul>
				<ul>
					<li class="list-4"></li>
					<li class="list-5"><span class="submit1">确认</span><span class="close1">关闭</span></li>
				</ul>
			</div>
			<div class="item-list">
				<ul>
					<li class="list-1">昵称</li>
					<li class="list-2"><%= user.name %></li>
					<li class="list-3"><a class="show1">编辑</a></li>
				</ul>
			</div>
			<div class="item-list unshow">
				<ul>
					<li class="list-1">昵称</li>
					<li class="list-2"></li>
					<li class="list-3"><a class="close1">收起</a></li>
				</ul>
				<ul>
					<li class="list-4">现昵称</li>
					<li class="list-5"><%= user.name %></li>
				</ul>
				<ul>
					<li class="list-4">新昵称</li>
					<li class="list-5">
						<input id="newName" type="text" name="newName" max-length="10">
						<input type="hidden" name="userid" value="<%= user._id %>" id="userid"><span class="hide-info">更改成功，请刷新页面</span>
					</li>
				</ul>
				<ul>
					<li class="list-4"></li>
					<li class="list-5"><span class="submit1">确认</span><span class="close1">关闭</span></li>
				</ul>
			</div>
			<div class="item-list">
				<ul>
					<li class="list-1">个人资料</li>
					<li class="list-2">完善资料，让大家更了解你</li>
					<li class="list-3"><a class="show1">编辑</a></li>
				</ul>
			</div>
			<div class="item-list unshow">
				<ul>
					<li class="list-1">昵称</li>
					<li class="list-2"></li>
					<li class="list-3"><a class="close1">收起</a></li>
				</ul>
				<ul>
					<li class="list-4">现昵称</li>
					<li class="list-5">我会记得你啊</li>
				</ul>
				<ul>
					<li class="list-4">新昵称</li>
					<li class="list-5"><input id="newName" type="text" name="newName"></li>
				</ul>
				<ul>
					<li class="list-4"></li>
					<li class="list-5"><span class="submit1">确认</span><span class="close1">关闭</span></li>
				</ul>
			</div>
			<div class="item-list">
				<ul>
					<li class="list-1">教育信息</li>
					<li class="list-2">成都理工大学</li>
					<li class="list-3"><a class="show1">编辑</a></li>
				</ul>
			</div>
			<div class="item-list unshow">
				<ul>
					<li class="list-1">昵称</li>
					<li class="list-2"></li>
					<li class="list-3"><a class="close1">收起</a></li>
				</ul>
				<ul>
					<li class="list-4">现昵称</li>
					<li class="list-5">我会记得你啊</li>
				</ul>
				<ul>
					<li class="list-4">新昵称</li>
					<li class="list-5"><input id="newName" type="text" name="newName"></li>
				</ul>
				<ul>
					<li class="list-4"></li>
					<li class="list-5"><span class="submit1">确认</span><span class="close1">关闭</span></li>
				</ul>
			</div>
			<div class="item-list">
				<ul>
					<li class="list-1">职业信息</li>
					<li class="list-2">未填写公司</li>
					<li class="list-3"><a class="show1">编辑</a></li>
				</ul>
			</div>
			<div class="item-list unshow">
				<ul>
					<li class="list-1">昵称</li>
					<li class="list-2"></li>
					<li class="list-3"><a class="close1">收起</a></li>
				</ul>
				<ul>
					<li class="list-4">现昵称</li>
					<li class="list-5">我会记得你啊</li>
				</ul>
				<ul>
					<li class="list-4">新昵称</li>
					<li class="list-5"><input id="newName" type="text" name="newName"></li>
				</ul>
				<ul>
					<li class="list-4"></li>
					<li class="list-5"><span class="submit1">确认</span><span class="close1">关闭</span></li>
				</ul>
			</div>
			<div class="item-list">
				<ul>
					<li class="list-1">个人标签</li>
					<li class="list-2">读书分享、美图摄影、搞笑幽默 等5个标签</li>
					<li class="list-3"><a class="show1">编辑</a></li>
				</ul>
			</div>
			<div class="item-list unshow">
				<ul>
					<li class="list-1">昵称</li>
					<li class="list-2"></li>
					<li class="list-3"><a class="close1">收起</a></li>
				</ul>
				<ul>
					<li class="list-4">现昵称</li>
					<li class="list-5">我会记得你啊</li>
				</ul>
				<ul>
					<li class="list-4">新昵称</li>
					<li class="list-5"><input id="newName" type="text" name="newName"></li>
				</ul>
				<ul>
					<li class="list-4"></li>
					<li class="list-5"><span class="submit1">确认</span><span class="close1">关闭</span></li>
				</ul>
			</div>
			<div class="item-list">
				<ul>
					<li class="list-1">收获地址</li>
					<li class="list-2">成都理工大学</li>
					<li class="list-3"><a class="show1">编辑</a></li>
				</ul>
			</div>
			<div class="item-list unshow">
				<ul>
					<li class="list-1">昵称</li>
					<li class="list-2"></li>
					<li class="list-3"><a class="close1">收起</a></li>
				</ul>
				<ul>
					<li class="list-4">现昵称</li>
					<li class="list-5">我会记得你啊</li>
				</ul>
				<ul>
					<li class="list-4">新昵称</li>
					<li class="list-5"><input id="newName" type="text" name="newName"></li>
				</ul>
				<ul>
					<li class="list-4"></li>
					<li class="list-5"><span class="submit1">确认</span><span class="close1">关闭</span></li>
				</ul>
			</div>
			<div class="item-list">
				<ul>
					<li class="list-1">个性域名</li>
					<li class="list-2">http://weibo.com/realhorizon</li>
					<li class="list-3"><a class="show1">编辑</a></li>
				</ul>
			</div>
			<div class="item-list unshow">
				<ul>
					<li class="list-1">昵称</li>
					<li class="list-2"></li>
					<li class="list-3"><a class="close1">收起</a></li>
				</ul>
				<ul>
					<li class="list-4">现昵称</li>
					<li class="list-5">我会记得你啊</li>
				</ul>
				<ul>
					<li class="list-4">新昵称</li>
					<li class="list-5"><input id="newName" type="text" name="newName"></li>
				</ul>
				<ul>
					<li class="list-4"></li>
					<li class="list-5"><span class="submit1">确认</span><span class="close1">关闭</span></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="/js/setinfo.js"></script>
</body>
</html>